@import "../Base/global";

.nav{
    @include flex-set(flex, row, nowrap, 0, stretch, flex-start);
    position: sticky;
    bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-block-start: $gap-l;
}