@import "../Base/global";

.partners{
    @include flex-set(flex, row, wrap, var(--partners-gap, #{$gap-xxl}), stretch, center, center);

    @include res-max-tablet{
        --partners-gap: #{$gap-l};
        --col-template: repeat(3, minmax(#{$gap-xxl}, 1fr));
        @include grid-columns(grid, var(--col-template, repeat(auto-fit, minmax(#{$gap-xxl}, 1fr))), var(--partners-gap), stretch);       
    }

    @include res-max-mobile-l{
        --col-template: repeat(2, minmax(#{$gap-xxl}, 1fr));
    }

    > a {
        --img-scale: 1;
        display: grid;
        aspect-ratio: 4 / 1.5;
        text-decoration: none;
        place-items: center;

        @media (hover: hover){
            &:hover{
                --img-scale: 1.05;
            }
        }

        > img{
            display: block;
            transform: scale(var(--img-scale));
            transition: transform $trans-time ease-in-out;
        }
    }   
}