@import "../Base/global";

.schedule{
    --col-count: 3;
    @include grid-columns(var(--schedule-display, none), repeat(var(--col-count), minmax($gap-xl, 1fr)), var(--schedule-gap, #{$gap-l}), stretch);
    grid-auto-flow: column;
    row-gap: $gap-l;

    @include res-max-tablet{
        grid-auto-flow: unset;
    }

    @include res-max-tablet{
        --col-count: 1;
    }

    &--active{
        --schedule-display: grid;    
    }
}

.session{
    --footer-display: none;
    padding: $gap-l;
    background-color: $color-white;
    border-radius: .25em;
    font-size: 2rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    grid-column-start: var(--col-start);

    @include res-max-tablet{
        --footer-display: block;
    }

    &[data-track*="Aula"]{
        --session-color: hsl(213, 49%, 55%);
        --col-start: 1;
    }

    &[data-track*="SF 2.162"]{
        --session-color: hsl(47, 99%, 56%);
        --col-start: 2;
    }

    &[data-track*="SF 1.141"]{
        --session-color: hsl(18, 74%, 55%);
        --col-start: 3;
    }

    @include res-max-tablet{
        --col-start: 1 !important;
    }

    &__head{
        @include flex-set(flex, row, nowrap, 0, center, space-between);
        font-size: .6em;
        margin-block-end: .5em;

        > time{
            font-weight: 500;
            color: gray;
        }

        > small{
            // --label-display: none;
            // display: var(--label-display);
            padding: .5em;
            background: var(--session-color);
            border-radius: .5em;
            font-weight: bold;
            line-height: 1;            
            color: $color-white;
            text-transform: uppercase;

            @include res-max-tablet{
                --label-display: inline-block;
            }
        }
    }

    &__speakers{
        --col-count: auto-fit;
        @include grid-columns(grid, repeat(var(--col-count), minmax($gap-xl, 1fr)), $gap, stretch);

        @include res-max-tablet{
            --col-count: 1;
        }
    }

    &__footer{
        display: var(--footer-display);
        font-size: .65em;
        color: gray;
        margin-block-start: 1rem;

        >span:not(:last-of-type):after{
            content: ', ';       
        }
    }

    details{
        &[open]{
            + .session__footer{
                @include res-max-tablet{
                    --footer-display: none;
                }
            }
        }
        > summary{
            --pointer-events: none;
            font-size: .85em;
            font-weight: bold;
            pointer-events: var(--pointer-events);

            @include res-max-tablet{
                --pointer-events: initial;
            }

            @include res-min-tablet{
                list-style: none;
            }
        }

        p{
            font-size: .65em;
            line-height: 1.5;
        }
    }
}

.speaker{
    --pic-size: 4rem;
    @include grid-columns(grid, var(--pic-size) minmax($gap-l, 1fr), var(--speaker-gap, #{$gap-l}), center);
    font-size: .6em;
    margin-block: $gap-l;

    span{
        display: block;
        font-weight: 600;
    }

    small{
        font-size: .8em;
        font-weight: bold;
        color: gray;

        &:empty{
            display: block;
            min-height: 1em;
        }
    }

    &__photo{
        position: relative;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 5px hsla(0,0%,0%,.2);
        inline-size: var(--pic-size);

        > img{
            position: absolute;
            display: block;    
            width: 100%;
        }
    }
}