* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(180deg, $color-white, $color-white 35%, $color-bg 80%, $color-bg);
  background-attachment: fixed;
  font-family: 'Roboto';
  background-size: contain;
  overflow-x: hidden;
  overflow-y: scroll;
}

address {
  font-style: normal;
}

textarea {
  font-family: inherit;
}
section {
  scroll-margin-top: calc(var(--nav-height) * -0.5);
}
