@import "../Base/global";

.logo{
    display: block;
    inline-size: clamp(10rem, 20vw, 20rem);
    margin-block-end: 5vh;
    margin-inline: auto;

    >img{
        display: block;
        width: 100%;
    }
}

.tracks{
    --tracks-display: grid;
    @include grid-columns(var(--tracks-display), repeat(var(--col-count, 3), minmax($gap-xl, 1fr)), var(--tracks-gap, #{$gap-l}));
    position: sticky;
    top: 0;
    background-color: $color-white;
    font-weight: bold;
    color: $color-white;
    z-index: 999;
    margin-block-end: 1rem;
    padding-block: 1rem;

    @include res-max-tablet{
        --tracks-display: none;
    }
    &:after{
        position: absolute;
        right: -$gap;
        left: -$gap;
        content: '';
        background-color: inherit;
        z-index: -1;
    }
    
    > div{
        padding: $gap-s;
        background-color: var(--track-bg-color);
        border-radius: .25em;
        font-size: 1.5rem;
        text-align: center;

        &[data-track*="Aula"]{
            --track-bg-color: hsl(213, 49%, 55%);
        }
    
        &[data-track*="SF 2.162"]{
            --track-bg-color: hsl(47, 99%, 56%);
        }
    
        &[data-track*="SF 1.141"]{
            --track-bg-color: hsl(18, 74%, 55%);
        }
    }
}

.nav{
    @include grid-columns(grid, repeat(var(--col-count, 3), minmax($gap-xl, 1fr)), var(--schedule-gap, #{$gap-l}));
    position: sticky;
    bottom: 0;
    padding: 0;
    margin: 0;
    background-color: $color-bg;
    list-style: none;
    margin-block-start: $gap-l;
    padding-block: $gap-l;

    @include res-max-tablet{
        --schedule-gap: #{$gap-xs};
        padding-block: $gap;
    }

    &:after{
        position: absolute;
        right: -$gap;
        left: -$gap;
        content: '';
        background-color: inherit;
        z-index: -1;
    }

    &__button{
        display: block;
        width: 100%;
        background-color: var(--btn-bg-color, hsl(0, 0%, 20%));
        border-width: 0;
        border-radius: .25em;
        font-size: var(--btn-font-size, 2rem);
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
        transition: background-color $trans-time ease-in-out;
        cursor: pointer;
        padding-block: .5em;

        &--active{
            --btn-bg-color: hsl(0, 0%, 0%);
        }

        @include res-max-tablet{
            --btn-font-size: 1rem;
        }

        @media (hover: hover){
            &:hover{
                --btn-bg-color: hsl(0, 0%, 0%);
            }
        }

        >time{
            display: block;
            font-size: .65em;
        }
    }
}